.dropdonwContainer{
    max-width :1023px;
    width:100%;
    margin-bottom: 32px;
}
.dropdown{
    background-color:#FF6060;
    max-width :1023px;
    width:100%;
    height : 47px;
    border-radius:5px;
    display:flex;
    justify-content: space-between;
    align-items:center;

}
.title{
    color: white;
    padding-left: 18px;
    font-weight: 500;
}
.arrow{
    width: 20px;
    height:20px;
    padding-right:18px;
    cursor:pointer;
}
.contentContainer{
    background-color:#E5E5E5;
    max-width :1023px;
    width:100%;
    border-radius:5px;
   margin-top: -24px;
   
    
}
.contentContainerClose{
    display: none;
}
.contentParaph{
    font-size:24px;
    color:#FF6060;
    padding:36px 20px 20px 20px;
}