.tag{
    width:160px;
    height:25px;
    background-color:#FF6060;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:10px;
}
.tagTitle{
    color: white;
    font-size: 14px;
    font-weight:500;
}

@media screen and (max-width: 768px){
    .tagTitle{
        font-size: 12px;
    }
    .tag{
        width:160px;
        height:25px;
        margin-right:6px;
    }
}