.title{
    color :#FF6060;
    font-size: 36px;
    font-weight: 500;
}
.location{
    color :#FF6060;
    font-size: 18px;
    font-weight: 500;
}
.titleContent{
    display:flex;
    flex-direction: column;
}

@media screen and (max-width: 850px){

}
@media screen and (max-width: 768px){
    .title{
        font-size: 24px;
    }
    .location{
        font-size: 14px;
    }
   
}