.title{
    color :#FF6060;
    font-size: 36px;
    font-weight: 500;
}
.location{
    color :#FF6060;
    font-size: 18px;
    font-weight: 500;
}
.titleContent{
    display:flex;
    flex-direction: column;
}
.hostContent{
    display: flex;

}
.hostPicture{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.hostName{
    color :#FF6060;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    margin-top: 8px;
}
@media screen and (max-width: 1024px){
    .hostContent{
        position:absolute;
        right:0%;
        top:225%;
    
    }
    .hostName{
        margin-right:0px;
        width: 93px;
        margin-top: 8px;
    }

}
@media screen and (max-width: 850px){
    .hostContent{
        position:absolute;
        right:0%;
        top:225%;
    
    }
}
@media screen and (max-width: 768px){
    .title{
        font-size: 24px;
    }
    .location{
        font-size: 14px;
    }
    .hostName{
        font-size: 14px;
        width: 90px;
    }
    .hostContent{
        position:absolute;
        right:0%;
        top:270%;
    
    }
}