.notFoundContainer{
    margin-top: 68px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items :center;
    justify-content: center;
}
.oups{
    color:#FF6060;
    font-size: 36px;
    font-weight:500;
    margin-top:52px;
    margin-bottom:120px;
}
.link{
    color:#FF6060;
    font-size:18px;
}

@media screen and (max-width: 768px){
    .link{
        font-size:14px;
    }
    .oups{
        font-size: 18px;
        text-indent : 16%;
        width:260px;
        height:52px;

    }
    .logoNotF{
        width:198px;
        height:99px;
    }
}