.gallery{
    width: 100%;
    max-width:1240px;
    height: 415px;
    background-color:#C4C4C4;
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-radius: 25px;
    background-clip: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.compteur{
    align-self:flex-end;
    color:white;
    font-size: 18px;
    font-weight:500;
}
@media screen and (max-width: 580px){
    .gallery{
        width: 100%;
        max-width:335px;
        height: 255px;
     
    }
    .arrow{
        width:12px;
        height: 20px;
    }
}