.thumbCard{
    width:320px;
    height:320px;
    border-radius:10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 10px auto;
    background-clip: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.thumbCard:hover{
    transform: scale(1.05);
    transition: all 0.3s;
}
.titleLocation{
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin:20px;
    
}
