.linkThumb{
    width:320px;
    height:320px;
    cursor: pointer;
    text-decoration: none;
    margin: 10px auto;
}
.thumbCard{
    width:320px;
    height:320px;
    border-radius:10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-clip: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.thumbCard:hover{
    transform: scale(1.05);
    transition: all 0.3s;
}
.titleLocation{
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin:20px;
    
}
@media screen and (max-width: 600px){
    .linkThumb{
        width:100%;
       max-width:335px;
        height:255px;
        margin: 20px auto;
    }
    .thumbCard{
        width:100%;
       max-width:335px;
        height:255px;
        margin: 20px auto;
     }
}
@media screen and (max-width: 340px){
    .linkThumb{
        width:100%;
       max-width:290px;
        height:210px;
        margin: 10px auto;
    }
    .thumbCard{
        width:100%;
       max-width:290px;
        height:210px;
        margin: 10px auto;
     }
}
