.footerContainer{
    width: 100%;
    height : 160px;
    background-color: black;
    display: flex;
    flex-direction : column;
    justify-content: space-around;
    align-items: center;
    margin-top:60px;
}
.imgContainer{
    margin-top:20px;
}
.rights{
    color: white;
    font-weight:500;
    font-size:24px;
}

@media screen and (max-width: 600px){
    .rights{
        font-size:12px;
    }
}