.titleContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:40px;
}

.tagsContainer{
    display: flex;
}
.tagsAndStarsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}
.smallDropdownContainer{
    display: flex;
    justify-content: space-between;
    margin-top:26px;
    margin-bottom:40px;
}
.gallery{
   margin-top: 40px;
   display: flex;
   justify-content: center;
   
}
@media screen and (max-width: 990px){
    

}
@media screen and (max-width: 768px){
    .smallDropdownContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top:26px;
        margin-bottom:20px;
    }
    .tagsAndStarsContainer{
       margin-bottom:80px;
    }
}


